*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
a {
    display: inline-block;
    text-decoration: none;
}
header {
    padding:15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* estructura para buscar la clase logo, para evitar usar otro logo*/
header .container .logo {
    width: 100px;
}

/* estructura para buscar las etiquetas <a> */
header .container nav a {
    color: red;
    text-decoration: none; /* para remover las lienas del link*/
    margin: 0 15px;
}

header .container .hamb 
{
    display: none;
}

footer{
    background-color: black;
    color: white;
}

footer .barraFooter {
    background-color: gray;
    text-align: center;
    padding: 0px 20px;
}

footer ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

footer ul li {
    margin-bottom: 10 px;
}

footer p {
    color: white;
    margin-bottom: 30px;
}

footer a {
    color: white;
}

footer logoFooter {
    width: 100%;
}

footer .redes{
    font-size: 30px;
    color: red;
    display: flex;
    justify-content: space-between;
}

footer .redes a {
    margin: 0 7.5px
}

.boton {
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    color: red;
    border: none;
}

.boton.botonRojo {
    justify-content: center;
    color: white;
    background-color: red;
    border-radius: 10px;
    font-weight: bold;
}

.boton.botonNegro {
    justify-content: center;
    color: white;
    background-color: black;
    border-radius: 10px;
    font-weight: bold;
}

.boton.botonBlanco {
    justify-content: center;
    color: red;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid red;
}

.cuadradoPerfecto{
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.cuadradoPerfecto img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*para editar tamaños de imagenes y videos*/
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

.container {

    margin: 0px auto;
    padding: 0px 15px;
    position: relative;
}

.containerFluid {
    width: 100%;
    padding: 0px 15px;
    position: relative;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.columna{
    padding-left: 15px;
    padding-right: 15px;
}

.columna33{
    width: 33.33%;
}
.columna50{
    width: 50%;
}

.empujar50{
    margin-left: 50%;
}

.empujar0{
    margin-left: 0;
}


#Inicio img{
    width: 100%;
    display: block;
    background-size: cover;
}

#Inicio .bloqueInicio {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 500px;
    text-align: center;
    margin-left: -100px;
}

#Inicio .bloqueInicio h1 {
    color: white;
    font-size: 42px;
}

#Inicio .bloqueInicio p {
    color: white;
    font-size: 14px;
}

#Nosotros {
    background-image: url(../img/latas.jpg);
    background-size: cover;
}

#Nosotros .container h1 {
    color: white;
    font-size: 42px;
    text-align: center;
}

#Nosotros p {
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 0;
}

#Servicios .bloqueServicio{
    border: 1px solid gray
}

#Servicios .container h1 {
    color: black;
    font-size: 42px;
    text-align: center;
}

#Servicios .bloqueServicio .bloqueServicioImg img{
    width: 100%;
}

#Servicios .bloqueServicio .bloqueServicioTexto {
    padding: 15px;
}

#Servicios .bloqueServicio .bloqueServicioTexto .cuadradoPerfecto{
    padding-bottom: 56.25%;
}

#Servicios .bloqueServicio .bloqueServicioTexto h3{
    margin-top: 0px;
    font-size: 25px;
}

#Galeria h4 {
    padding:0px 15px;
    text-align: center;
    position: relative;
    top: 40%;
    color: white;
    font-size: 18px;
    width: 100%;
}

#Galeria img {
    filter: grayscale(1);
}

#Galeria .cuadradoPerfecto:hover img {
    filter: grayscale(0);
}

#Contactenos {
    position: relative;
}

#Contactenos iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
}
#Contactenos .containerFormulario{
    position: relative;
    bottom: -100px;
}

#Contactenos form {
    padding: 60px;
    background-color: red;
}

#Contactenos form .formBlock{
    width: 100%;
    margin-bottom: 10px;
}

#Contactenos form .formBlock .formControl{
    display: block;
    height: 40px;
    font-size: 16px;
    border: 1px solid grey;
    width: 100%;
    padding: 5px 10px;
}

#Contactenos form .formBlock textArea{
    display: block;
    height: 100px;
    font-size: 16px;
    border: 1px solid grey;
    width: 100%;
    padding: 5px 10px;
}

#Contactenos form .formBlock.bloqueUltimo{
 margin-bottom: 0;
}

@media(max-width: 767px)
{
    body
    {
        font-size: 15px;
    }

    header .container nav
    {
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: white;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 15px;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        transition: all 0.4s ease;
        transform: translateX(100%);
    }

    header .container nav a
    {
        font-size: 20px;
        margin: 15px 0px;
    }

    header .container .hamb 
    {
        display: block;
        font-size: 40px;
        color: red;
    }

    .container
    {
        width: 100%;
    }

    .columnaMobile100
    {
        width: 100%;
        margin: 0px 20px;
        margin-bottom: 15px;
    }

    #Inicio
    {
        height: 100vh;
    }

    #Inicio img
    {
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    #Inicio .bloqueInicio 
    {
        top:40%;
        left: 30%;
    }

    .rowCel{
        width: 100%;
        /*display: grid;
        grid-template: 150px 150px /150px 150px;*/
        justify-content: center;
        margin-left: -15px;
        margin-right: -15px;
    }
}